.what_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 40px;
  gap: 10px;
  flex: 1;
  img {
    z-index: 2;
    display: none;
  }
}

@media screen and (min-width: 72em) {
  .what_container {
    flex-direction: row;
    padding-top: 40px;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: normal;

    img {
      display: block;
      align-self: center;
    }
  }
}
