.skill_chips_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
  gap: 20px;

  gap: 48px;
}

@media screen and (min-width: 72em) {
  .skill_chips_container {
    padding-top: 4em;
  }
}
