@media screen and (min-width: 72em) {
  .connect_container {
    h2 {
      margin-bottom: 40px;
    }
    justify-items: center;
    align-items: center;
    padding: 4em 12em;
    .link_container {
      margin-left: 20px;
      justify-items: center;
      align-items: center;
      div {
        display: flex;
        gap: 10px;
        margin-right: 40px;
      }
      a {
        text-decoration: none;
        color: black;
        margin: auto 0;
      }
    }
  }
}
