@import "../../assets/scss/variables";

.app_bar {
  background-color: transparent;
  color: $secondaryColor;
}

nav {
  padding: 12px 6em;
  max-width: 1800px;
  left: 50% !important;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  nav {
    padding: 0;
  }
}
