@import "../../assets/scss/variables";

.app_bar {
  background-color: transparent;
  color: $secondaryColor;
}
.icon_style {
  max-width: 40px;
}

nav {
  padding: 0px 2em;
  max-width: 1920px;
  left: 50% !important;
  transform: translateX(-50%);
}
@media only screen and (max-width: 768px) {
  nav {
    padding: 0;
    background-color: white;
  }
}
